<div class="card shadow mb-4">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="faculdades">Faculdade</label>
					<div class="cb-search">
						<select id="faculdades" name="faculdades" class="form-control" size="1">
							<option value="">Selecione...</option>
							<% for (let i = 0; i < nomesFaculdades.length; i++) { %>
								<option value="<%= nomesFaculdades[i].CO_IES %>">[<%=nomesFaculdades[i].SG_IES%>] <%=nomesFaculdades[i].NO_IES %></option>
							<% } %>
						</select>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="curso">Curso</label>
					<div class="cb-search">
						<select id="curso" name="curso" class="form-control" size="1">
							<option value="">Selecione...</option>
							<% for (let i = 0; i < Cursos.length; i++) { %>
								<option value="<%= Cursos[i].NO_CURSO %>"><%= Cursos[i].NO_CURSO %></option>
							<% } %>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="estado">Estado</label>
					<div class="cb-search">
						<select id="idestado" name="idestado" class="form-control" size="1">
							<option value="" hidden>Selecione...</option>
							<% for (let i = 0; i < estados.length; i++) { %>
							<option value="<%- estados[i].id %>"><%= estados[i].nome %></option>
							<% } %>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="idcidade">Cidade</label>
					<div class="cb-search">
						<select id="idcidade" name="idcidade" class="form-control" size="1"><option value="" hidden>Selecione...</option></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div style="text-align: right;">
					<button class="btn btn-primary" onclick="buscarDados()">Filtrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card shadow mb-4">
	<div class="card-body" id="tabela-container">
	</div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Informações</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div style="text-align: left;">
				<div class="row mb-3">
					<div class="col-sm-6">
						<b>Nome</b>
						<br>
						<span id="ModalNome"></span>
					</div>
					<div class="col-sm-6">
						<b>Sigla</b>
						<br>
						<span id="ModalSigla"></span>
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-sm-12">
						<b>Mantenedora</b>
						<br>
						<span id="ModalMantenedora"></span>
					</div>
				</div>
				<div class="mb-3">
					<b>Endereço</b>
					<hr style="margin: 0px; padding: 0px;">
				</div>
				
				<div class="row mb-2">
					<div class="col-sm-12">
						<span id="ModalEndereco"></span> - <span id="ModalNumero"></span>
						<br>
						<span id="ModalBairro"></span> <span id="ModalComplemento"></span>
						<br>
						<span id="ModalMunicipio"></span> - <span id="ModalEstado"></span>
						<br>
						<span id="ModalCEP"></span>
					</div>
				</div>

				<hr>
					<ul class="nav nav-tabs" id="ModalAnos" role="tablist">
					
				 	</ul>
				  <div class="tab-content" id="ModalCursos">
					
				  </div>
			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
</div>



<%- contentFor("scripts") %>

<script type="text/javascript">
	//<![CDATA[
	"use strict";
	

	let faculdades = document.getElementById("faculdades")


	prepareCbSearch(document.getElementById("faculdades"));
	prepareCbSearch(document.getElementById("curso"));
	prepareCbSearch(document.getElementById("idestado"));
	prepareCbSearch(document.getElementById("idcidade"));
	prepareCbState(document.getElementById("idestado"), document.getElementById("idcidade"));

	faculdades.onchange = function () {
				var id = parseInt(faculdades.value);
				if(!isNaN(id)) {
					ver(id)
				}
				$("#faculdades").val( $('option:contains("Selecionar")').val() );
			};

	var dadosModal = null;

	async function atualizarTabela(dados) {
		document.getElementById(`tabela-container`).innerHTML = `<table class="table table-flush table-striped table-hover" id="tabela"></table>`;

		var tabela = prepareDataTable("tabela", {
			order: [[1, "asc"]],
			deferRender: true,
			columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return '<button title="Ver" type="button" onclick="ver(' + row.CO_IES + ')" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button>'; } },
				{ title: "IES", data: "CO_IES" },
				{ title: "Nome", data: "NO_IES", render: function (v, type, row) { 
					return "[" + row.SG_IES + "] " + row.NO_IES
				}},
			],
			data: dados,
			searching: false,
			lengthChange: false,
			export: { title: "Faculdades" }
		});
	}

	async function ver(id) {
		if (JsonWebApi.active)
			return false;

		let nome = document.getElementById("ModalNome")
		let sigla = document.getElementById("ModalSigla")
		let tp_organizacao = document.getElementById("ModalOrganizacao")
		let mantenedora = document.getElementById("ModalMantenedora")
		let endereco = document.getElementById("ModalEndereco")
		let numero = document.getElementById("ModalNumero")
		let complemento = document.getElementById("ModalComplemento")
		let bairro = document.getElementById("ModalBairro")
		let municipio = document.getElementById("ModalMunicipio")
		let estado = document.getElementById("ModalEstado")
		let anos = document.getElementById("ModalAnos")
		let cursos = document.getElementById("ModalCursos")



		Swal.wait();
		JsonWebApi.get("<%- root %>/api/faculdade/buscar", function (response) {
				if (response.success) {
					Swal.close();
					dadosModal = response.value;
					let anosConj = "";
					let anosContentConj = "";
					let primeiroAno = 0
					
					for (let index = 0; index < dadosModal.length; index++) {
						if(dadosModal[index].NU_ANO_CENSO == 2022) {
							nome.textContent = dadosModal[index].NO_IES
							sigla.textContent = dadosModal[index].SG_IES
							mantenedora.textContent = dadosModal[index].NO_MANTENEDORA
							endereco.textContent = dadosModal[index].DS_ENDERECO_IES
							numero.textContent = dadosModal[index].DS_NUMERO_ENDERECO_IES
							if(dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES == "-") {
								complemento.textContent = ""

							}else {
								complemento.textContent = " - " + dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES
							}
							bairro.textContent = dadosModal[index].NO_BAIRRO_IES
							municipio.textContent = dadosModal[index].NO_MUNICIPIO_IES
							estado.textContent = dadosModal[index].NO_UF_IES
						}else if(dadosModal[index].NU_ANO_CENSO == 2021) {
							nome.textContent = dadosModal[index].NO_IES
							sigla.textContent = dadosModal[index].SG_IES
							mantenedora.textContent = dadosModal[index].NO_MANTENEDORA
							endereco.textContent = dadosModal[index].DS_ENDERECO_IES
							numero.textContent = dadosModal[index].DS_NUMERO_ENDERECO_IES
							if(dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES == "-") {
								complemento.textContent = ""

							}else {
								complemento.textContent = " - " + dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES
							}							bairro.textContent = dadosModal[index].NO_BAIRRO_IES
							municipio.textContent = dadosModal[index].NO_MUNICIPIO_IES
							estado.textContent = dadosModal[index].NO_UF_IES
						}else {
							nome.textContent = dadosModal[index].NO_IES
							sigla.textContent = dadosModal[index].SG_IES
							mantenedora.textContent = dadosModal[index].NO_MANTENEDORA
							endereco.textContent = dadosModal[index].DS_ENDERECO_IES
							numero.textContent = dadosModal[index].DS_NUMERO_ENDERECO_IES
							if(dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES == "-") {
								complemento.textContent = ""

							}else {
								complemento.textContent = " - " + dadosModal[index].DS_COMPLEMENTO_ENDERECO_IES
							}							
							bairro.textContent = dadosModal[index].NO_BAIRRO_IES
							municipio.textContent = dadosModal[index].NO_MUNICIPIO_IES
							estado.textContent = dadosModal[index].NO_UF_IES
						}

						if(index == (dadosModal.length - 1)) {
							anosConj += `
							<li class="nav-item">
					 			<a onclick="verCursos(${id}, ${dadosModal[index].NU_ANO_CENSO})" class="nav-link active" id="${dadosModal[index].NU_ANO_CENSO}-tab" data-toggle="tab" href="#Content${dadosModal[index].NU_ANO_CENSO}" role="tab" aria-controls="${dadosModal[index].NU_ANO_CENSO}" aria-selected="true">${dadosModal[index].NU_ANO_CENSO}</a>
							</li>
							`
						}else{
							anosConj += `
							<li class="nav-item">
								<a onclick="verCursos(${id}, ${dadosModal[index].NU_ANO_CENSO})" class="nav-link" id="${dadosModal[index].NU_ANO_CENSO}-tab" data-toggle="tab" href="#Content${dadosModal[index].NU_ANO_CENSO}" role="tab" aria-controls="${dadosModal[index].NU_ANO_CENSO}" aria-selected="false">${dadosModal[index].NU_ANO_CENSO}</a>
							</li>
							`
						}

						if(index == (dadosModal.length - 1)) {
							anosContentConj += `
							<div class="tab-pane fade show active" id="Content${dadosModal[index].NU_ANO_CENSO}" role="tabpanel" aria-labelledby="${dadosModal[index].NU_ANO_CENSO}-tab"></div>
							`
							primeiroAno = dadosModal[index].NU_ANO_CENSO
						}else{
							anosContentConj += `
							<div class="tab-pane fade" id="Content${dadosModal[index].NU_ANO_CENSO}" role="tabpanel" aria-labelledby="${dadosModal[index].NU_ANO_CENSO}-tab"></div>
							`
						}

						
					}

					anos.innerHTML = anosConj
					cursos.innerHTML = anosContentConj
					var dadosCursos = null;
					verCursos(id, primeiroAno)
					

					$('#exampleModalCenter').modal('toggle')
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
		}, "id", id);


		
	}

	async function verCursos(id, ano) {
		if (JsonWebApi.active)
			return false;

		let elemento = document.getElementById(`Content${ano}`)

		elemento.style.textAlign = "center"
		elemento.classList.add("mt-4")
		elemento.innerHTML = "Carregando dados..."
		

		JsonWebApi.get("<%- root %>/api/curso/buscar", function (response) {
				if (response.success) {
					var dadosCursos = response.value
					let cursosConj = ""
					cursosConj += `
					<div id="accordion" class="p-2">
					`
					for (let index = 0; index < dadosCursos.length; index++) {
						let grau = "";
						if(dadosCursos[index].TP_GRAU_ACADEMICO == 1) {
							grau = "Bacharelado"
						}else if(dadosCursos[index].TP_GRAU_ACADEMICO == 2) {
							grau = "Licenciatura"
						}else if(dadosCursos[index].TP_GRAU_ACADEMICO == 3) {
							grau = "Tecnológico"
						}else if(dadosCursos[index].TP_GRAU_ACADEMICO == 4) {
							grau = "Bacharelado e Licenciatura"
						}else {
							grau = "Não Aplicável"
						}

						let categoriaAdm = ""

						if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 1) {
							categoriaAdm = "Pública Federal"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 2) {
							categoriaAdm = "Pública Estadual"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 3) {
							categoriaAdm = "Pública Municipal"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 4) {
							categoriaAdm = "Privada com fins lucrativos"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 5) {
							categoriaAdm = "Privada sem fins lucrativos"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 6) {
							categoriaAdm = "Privada - Particular em sentido estrito"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 7) {
							categoriaAdm = "Especial"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 8) {
							categoriaAdm = "Privada comunitária"
						}else if(dadosCursos[index].TP_CATEGORIA_ADMINISTRATIVA == 9) {
							categoriaAdm = "Privada confessional"
						}else {
							categoriaAdm = "Não Aplicável"

						}



						cursosConj += `
						<div class="card mb-2">
							<div class="card-header" id="${dadosCursos[index].NO_CURSO}">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#Collapse${index}" aria-expanded="true" aria-controls="#Collapse${index}">
								${dadosCursos[index].NO_CURSO}
								</button>
							</h5>
							</div>

							<div id="Collapse${index}" class="collapse" aria-labelledby="heading${index}" data-parent="#accordion">
							<div class="card-body" style="text-align: left;">
								<div class="row mb-3">
									<div class="col-sm-6">
										<b>Nome</b>
										<br>
										${dadosCursos[index].NO_CURSO}
									</div>
									<div class="col-sm-6">
										<b>Grau Acadêmico</b>
										<br>
										${grau}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-6">
										<b>Modalidade</b>
										<br>
										${dadosCursos[index].TP_MODALIDADE_ENSINO == 1 ? "Presencial" : "Ensino a Distância"}
									</div>
								</div>
								<hr>
								<div class="row mb-3">
									<div class="col-sm-6">
										<b>Rede de Ensino</b>
										<br>
										${dadosCursos[index].TP_REDE == 1 ? "Pública" : "Privada"}
									</div>
									<div class="col-sm-6">
										<b>Categoria Administrativa</b>
										<br>
										${categoriaAdm}
									</div>
								</div>
								<hr>
								<div class="row mb-3">
									<div class="col-sm-12">
										<b>Área Geral</b>
										<br>
										${dadosCursos[index].NO_CINE_AREA_GERAL}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-6">
										<b>Área Específica</b>
										<br>
										${dadosCursos[index].NO_CINE_AREA_ESPECIFICA}
									</div>
									<div class="col-sm-6">
										<b>Área Detalhada</b>
										<br>
										${dadosCursos[index].NO_CINE_AREA_DETALHADA}
									</div>
								</div>
							</div>
							</div>
						</div>
						`
						
					}

					cursosConj += `
					</div>
					`

					elemento.innerHTML = cursosConj
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
		}, "id", id, "ano", ano);
	}


	async function buscarDados() {
		if (JsonWebApi.active)
			return false;
		let dados;
		let cidade = $("#idcidade option:selected").text();
		let cidadeElement = document.getElementById("idcidade")
		let estado = $("#idestado option:selected").text();
		let estadoElement = document.getElementById("idestado")
		let curso = $("#curso option:selected").text();
		let cursoElement = document.getElementById("curso")


		if(cidadeElement.value === "") {
			cidade = ""
		}
		if(estadoElement.value === "") {
			estado = ""
		}
		if(cursoElement.value === "") {
			curso = ""
		}

		console.log(cidade)
		console.log(estado)
		console.log(curso)
		

		Swal.wait()

		JsonWebApi.get("<%- root %>/api/faculdade/filtrar", async function (response) {
				if (response.success) {
					Swal.close()
					atualizarTabela(await response.value)
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
		}, "estado", estado, "cidade", cidade, "curso", curso);
	}

	buscarDados()
 	
	//]]>
</script>
